* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
}
.header {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    #006466,
    #065a60,
    #0b525b,
    #144552,
    #1b3a4b,
    #212f45,
    #272640,
    #312244,
    #3e1f47,
    #4d194d
  );
}

.header img {
  height: 80%;
}
button {
  width: 10%;
  height: 9vh;
  margin: 5px;
  border-radius: 10%;
  border: none;
  cursor: pointer;
  color: whitesmoke;
  background: linear-gradient(
    red,
    red,
    red,
    red,
    black,
    black,
    white,
    white,
    white,
    white
  );
  font-size: 1.3rem;
  text-transform: capitalize;
}

.cont {
  background-image: url(/background.jpg);
  height: 90%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
/* .cover {
  height: 100%;
  width: 100%;
  position: fixed;
} */
h1 {
  font-family: cursive, sans-serif;
  color: white;
  font-size: 2rem;
}
.pokemon-info {
  display: flex;
  color: whitesmoke;
  background: linear-gradient(
    #006466,
    #065a60,
    #0b525b,
    #144552,
    #1b3a4b,
    #212f45,
    #272640,
    #312244,
    #3e1f47,
    #4d194d
  );
  justify-content: center;
  flex-direction: column;
}
.pokemon-info img {
  width: 200px;
  height: 200px;
  transition: 1s ease-in-out;
}

.details {
  width: 10%;
  height: 10%;
  font-size: 15px;
  background: linear-gradient(
    #006466,
    #065a60,
    #0b525b,
    #144552,
    #1b3a4b,
    #212f45,
    #272640,
    #312244,
    #3e1f47,
    #4d194d
  );
  color: whitesmoke;
}

/* .pokemon-info img:hover {
  width: 300px;
  height: 300px;
  transform: rotateZ(1800deg);
} */

@media (max-width: 364px) {
  .pokemon-info {
    width: 50vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    position: relative;
  }
  .pokemon-info img {
    max-width: 85%;
    max-height: 80%;
    margin-left: 10px;
    /* position: fixed; */
  }
  .cont {
    height: 238vh;
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 7vh;
    margin-bottom: 10px;
    font-size: 17px;
  }
  .details {
    height: 15vh;
    width: 50vw;
    /* margin-top: 10px; */
  }
}
