* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
}
.header {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    #006466,
    #065a60,
    #0b525b,
    #144552,
    #1b3a4b,
    #212f45,
    #272640,
    #312244,
    #3e1f47,
    #4d194d
  );
}
.header img {
  height: 80%;
  transition: 1s ease-in-out;
  cursor: pointer;
}
.header img:hover {
  transform: rotateZ(360deg);
  padding: 5px;
}
button {
  width: 10%;
  height: 10vh;
  margin: 5px;
  border-radius: 10%;
  border: none;
  cursor: pointer;
  color: whitesmoke;
  background: linear-gradient(
    #0091ad,
    #1780a1,
    #2e6f95,
    #455e89,
    #5c4d7d,
    #723c70,
    #892b64,
    #a01a58,
    #b7094c,
    #4d194d
  );
  font-size: 1.5rem;
  text-transform: capitalize;
}

button:hover {
  font-family: fantasy;
  cursor: -webkit-grab;
  background: linear-gradient(
    #4d194d,
    #b7094c,
    #a01a58,
    #892b64,
    #723c70,
    #5c4d7d,
    #455e89,
    #2e6f95,
    #1780a1,
    #0091ad
  );
  color: whitesmoke;
  font-size: 1.5rem;
  text-transform: capitalize;
}

.cont {
  background-image: url(/background.jpg);
  height: 90%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.cover {
  height: 100%;
  width: 100%;
  position: fixed;
}
h1 {
  font-family: cursive, sans-serif;
  color: white;
  font-size: 2rem;
}
.pokemon-info {
  display: flex;
}
.pokemon-info img {
  width: 270px;
  height: 270px;
  transition: 1s ease-in-out;
}
.pokemon-info img:hover {
  width: 300px;
  height: 300px;
  transform: rotateZ(1800deg);
}
